requests==2.25.1 # not compatible with tweepy

tqdm==4.59.0
colorama==0.4.4
#tensorflow
tensorflow-macos
#==2.10
tensorflow-metal
#==0.6
pandas
keras
numpy
scikit_learn
tweepy
textblob
openpyxl
sbrscrape==0.0.4
Flask
xgboost




#==1.0
# <<<<<<< Updated upstream
# keras
# #==2.6.0
# xgboost
# #==1.4.2
# sbrscrape
# #==0.0.2
# Flask==2.2.2
# tweepy
# textblob
# openpyxl
# =======
# #keras==2.6.0
# #tensorflow==2.6.0
# xgboost
# #==1.4.2
# sbrscrape==0.0.4
# Flask
# #==2.2.2
# >>>>>>> Stashed changes
